// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main_content {
    margin: 50px;
    max-width: 45%;
    float: left;
    justify-content: space-evenly;
}