<li class="nav-item active">
<a class="nav-link" href="/login">Login </a>
</li>
<li class="nav-item active">
<a class="nav-link" href="/users/new">Signup</a>
</li>
<br>
<li>
<%= button_to "Log in with Github", "/auth/github" %>
</li>